img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.theme-color,
.icon-theme-color,
.flip-box-wrapper:hover .icon-theme-hcolor,
.btn.link,
a.btn.border,
.team-classic .team-name a {
    color: var(--e-global-color-primary) !important;
}
.pricing-style-classic.pricing-table-wrapper ul li:before,
.isotope-filter ul.nav.m-auto.d-block li a:hover,
.row.portfolio-details .col-sm-4 > .portfolio-meta span.portfolio-meta-icon {
    color: var(--e-global-color-primary);
}
a.btn.border {
    border-color: var(--e-global-color-primary) !important;
}
.pricing-table-wrapper.pricing-style-classic .pricing-inner-wrapper {
    border-bottom-color: var(--e-global-color-primary);
}

.theme-color-bg,
.icon-theme-color-bg,
.flip-box-wrapper:hover .icon-theme-hcolor-bg,
.contact-info-style-classic-pro .contact-info-title,
.contact-info-wrapper.contact-info-style-classic:before,
.testimonial-wrapper.testimonial-style-modern .testimonial-inner:after,
.isotope-filter ul.nav.m-auto.d-block li.active a,
.blog-wrapper.blog-style-modern .blog-inner .top-meta .post-category,
.blog-wrapper .post-overlay-items .post-date a,
.event-style-classic .top-meta .post-date,
.blog-layouts-wrapper .post-overlay-items .post-date a,
.portfolio-content-wrap .portfolio-title h3,
.custom-post-nav > a {
    background-color: var(--e-global-color-primary);
}
.button.button-primary,
button,
input[type="button"],
.btn,
input[type="submit"],
ul[id^="nv-primary-navigation"] li.button.button-primary > a,
.menu li.button.button-primary > a,
span.animate-bubble-box:after,
span.animate-bubble-box:before {
    background: var(--e-global-color-primary) !important;
}
.testimonial-list .testimonial-list-item .testimonial-thumb:before,
.single-cea-testimonial .testimonial-info .testimonial-img:before,
.testimonial-wrapper.testimonial-modern .testimonial-inner:after,
.cea-switch input:checked + .slider,
.day-counter-classic .day-counter > div:after,
.day-counter-modern .day-counter > *:after,
.cea-offcanvas-wrap span.cea-close.cea-offcanvas-close,
.cea-data-table-pagination-wrap > a {
    background: var(--e-global-color-primary);
}
.contact-info-style-modern .contact-mail:before,
.contact-info-style-modern .contact-phone:before {
    color: var(--e-global-color-primary);
}
.team-wrapper.team-style-list .media .post-thumb:after {
    background-image: linear-gradient(45deg, #fff0 25%, transparent 25%),
        linear-gradient(-45deg, transparent 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, transparent 75%),
        linear-gradient(
            -45deg,
            transparent 75%,
            var(--e-global-color-primary) 75%
        );
    background-image: linear-gradient(45deg, #fff0 25%, transparent 25%),
        linear-gradient(-45deg, transparent 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, transparent 75%),
        linear-gradient(
            -45deg,
            transparent 75%,
            var(--e-global-color-primary) 75%
        );
    background-image: linear-gradient(45deg, #fff0 25%, transparent 25%),
        linear-gradient(-45deg, transparent 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, transparent 75%),
        linear-gradient(
            -45deg,
            transparent 75%,
            var(--e-global-color-primary) 75%
        );
    background-image: linear-gradient(45deg, #fff0 25%, transparent 25%),
        linear-gradient(-45deg, transparent 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, transparent 75%),
        linear-gradient(
            -45deg,
            transparent 75%,
            var(--e-global-color-primary) 75%
        );
}

.secondary-color,
.icon-secondary-color,
.flip-box-wrapper:hover .icon-secondary-hcolor {
    color: var(--e-global-color-secondary);
}
.secondary-color-bg,
.icon-secondary-color-bg,
.flip-box-wrapper:hover .icon-secondary-hcolor-bg,
.day-counter-modern .day-counter > *,
.day-counter-classic-pro .day-counter .counter-item > span {
    background-color: var(--e-global-color-secondary);
}


